<ion-header >
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'CATEGORIES' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
<ion-searchbar
  [(ngModel)]="searchKey"
  animated=true
  debounce=700
  spellcheck=true
  autocomplete="on"
  [placeholder]="helper.translate('SEARCH')"

  (ionInput)="search($event)"
  (ionCancel)="cancelSearch($event)">
</ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
 <ion-list>
	<ion-item *ngFor="let category of categories" (click)="getSubCategories(category)">
		{{category.title}}
	</ion-item>
 </ion-list>
</ion-content>
