// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url(//fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

ion-content , ion-title {
  font-family: 'Droid Arabic Naskh', serif;
}

//  searchbar

ion-searchbar.searchbar  {
  background: #e5e5e5;
  .searchbar-input {
    box-shadow: none;
    border-radius: 5px;
  }
}

// cat list styles

.cat-list {
  padding: 0;
  ion-col  {
    background: color($colors, primary);
    text-align: center;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #fff;
    padding: 2rem;
    .cat-thumb {
      height: 9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 5rem;
        margin-bottom: .5rem;
      }
    }
    h1 {
      font-size: 1.4rem;
      color: color($colors, light);
      margin: .2rem 0 0 0;
    }
  }
}

// questions

.questions {
  list-style: none;
  margin: 2rem 1.5rem;
  padding: 0;
  li {
    background: url(../assets/img/question.png) no-repeat right top;
    background-size: 7%;
    padding-right: 3rem;
    margin-bottom: 1rem;
    &:last-child {
      border-bottom: 1px solid #dedede;
      padding-bottom: 1rem;
    }
  }
}
