
<ion-header dir="rtl">

  <ion-navbar>
    <ion-buttons class="order" start (click)="close()">
      <button ion-button clear icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'SEARCH' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content dir="rtl">
      <ion-searchbar
        autofocus
        [(ngModel)]="searchKey"
        animated=false
        debounce=500
        spellcheck=true
        showCancelButton=true
        autocomplete="on"
        cancelButtonText= "إلغاء"
        [placeholder]="helper.translate('SEARCH')"
        (ionCancel)="close()"
        (ionInput)="search($event)">
      </ion-searchbar>
	    <div *ngIf="searching" >
	    	 <ion-spinner></ion-spinner>
	    </div>

      <ul class="questions">
        <li *ngFor="let post of searchResults" (click)="openPost(post)" [innerHtml]="post.title">
        </li>
      </ul>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)"
  [enabled]=" countTotal > searchResults.length"
  threshold='1%'>
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
