
<ion-header dir="rtl">

  <ion-navbar>
    <ion-title>{{'SEARCH' | translate }}</ion-title>
    <button icon-only (click)="close()">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding dir="rtl">
<ion-searchbar
  [(ngModel)]="searchKey"
  animated=true
  debounce=700
  spellcheck=true
  autocomplete="on"
  [placeholder]="helper.translate('SEARCH')"

  (ionInput)="search($event)"
  (ionCancel)="cancelSearch($event)">
</ion-searchbar>
     <ion-list>
	    <div *ngIf="searching" class="spinner-container">
	    	 <ion-spinner></ion-spinner>
	    </div>
	<ion-item *ngFor="let post of searchResults" (click)="openPost(post)">
		<span [innerHtml]="post.title"></span>
	</ion-item>
 </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" 
  [enabled]=" countTotal > searchResults.length" 
  threshold='1%'>
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
