
<ion-header dir="rtl">

  <ion-navbar>
    <ion-buttons class="order" start (click)="close()">
      <button ion-button clear icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'SEARCH' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content dir="rtl">
      <ion-searchbar
        [(ngModel)]="searchKey"
        debounce=500
        spellcheck=true
        showCancelButton=true
        autocomplete="on"
        [cancelButtonText]= "'CANCEL' | translate"
        [placeholder]="helper.translate('SEARCH')"
        (ionCancel)="close()"
        (ionInput)="search($event)">
      </ion-searchbar>
	    <div *ngIf="searching" class="spinner">
	    	 <ion-spinner color="primary"></ion-spinner>
	    </div>

      <ul class="questions">
        <li *ngFor="let post of searchResults" (click)="openPost(post)" [innerHtml]="post.title">
        </li>
      </ul>

       <div class="state-app" *ngIf="!countTotal && !searching">
         <img src="assets/img/no-network.png" alt="" />
         <p>{{'ERRORS.NO_RESAULTS' | translate }}</p>
       </div>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)"
  [enabled]=" countTotal > searchResults.length"
  threshold='1%'>
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
