 <ion-searchbar (click)="startSearch()"
        [(ngModel)]="searchKey"
        debounce=500
        spellcheck=true
        showCancelButton=true
        autocomplete="on"
        [cancelButtonText]= "'CANCEL' | translate"
        [placeholder]="helper.translate('SEARCH')"
        (ionCancel)="close()"
        (ionInput)="search($event)">
      </ion-searchbar>
	    <div *ngIf="active && searching" class="spinner">
	    	 <ion-spinner color="primary"></ion-spinner>
	    </div>

      <ul class="questions" *ngIf="active && searchResults.length ">
        <li *ngFor="let post of searchResults" (click)="openPost(post)" [innerHtml]="post.title">
        </li>
      </ul>

       <div class="state-app" *ngIf="active && !countTotal && !searching">
         <img src="assets/img/no-network.png" alt="" />
         <p>{{'ERRORS.NO_RESAULTS' | translate }}</p>
       </div>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)"
  [enabled]=" active && countTotal > searchResults.length && searchResults.length"
  threshold='5%'>
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
