page-list-posts {
  ion-slides {
    height: 45%;
    .swiper-container {
      .swiper-wrapper {
        .control {
          position: absolute;
          width: 100%;
          z-index: 10;
          button {
            position: absolute;
            top: 12.6rem;
            img {
              width: 1.5rem;
            }
          }
          .prev {
            left: -1rem;
          }
          .next {
            right: -1rem;
          }
        }
      }
    }
  }
}
