<ion-header >
  <ion-toolbar *ngIf="!searching">
    <ion-buttons class="order" start navPop>
      <button ion-button clear icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title [innerHtml]="category.title"></ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="searching">
    <ion-buttons class="order" start (click)="endSearch()">
      <button ion-button clear icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'SEARCH' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<search (endSearching)="endSearch()" (startSearching)="startSearch()" ></search>


 <ion-slides dir="rtl" *ngIf="arrays.length && !searching">

  <ion-slide *ngFor="let ar of arrays; let lastAr=last; let firstAr=first">
    <ion-grid class="cat-list">
      <ion-row>
   <div class="control">
     <button class="next" ion-button clear *ngIf="!firstAr">
       <img src="assets/icon/next-slid.png" />
     </button>
     <button class="prev" ion-button clear *ngIf="!lastAr">
       <img src="assets/icon/perv-slide.png" />
     </button>
   </div>
      <ion-col col-6 [ngClass]="{'full-width' : lastAr && last && isOdd, 'alone':ar.length == 1}" *ngFor="let cate of ar;let last=last" (click)="switchCate(cate)">
        <div class="cat-thumb">
          <img [src]="'assets/icon/cat/'+ category.id+'.png'" alt="" />
        </div>
        <h1>{{cate.title}}</h1>
      </ion-col>

      </ion-row>
  </ion-grid>
  </ion-slide>

</ion-slides>

<ul class="questions" *ngIf="!searching">
  <li *ngFor="let post of posts" (click)="openPost(post)" [innerHtml]="post.title">
  </li>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" [enabled]=" nextPage <= totalPages"
  threshold='1%'>
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ul>

</ion-content>
